.Header {
  position: fixed;
  width: 100%;
  padding: 5rem 0;
  z-index: 100;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  background: rgba(0, 0, 0, 0.8);
  padding: 1.5rem 0;
  /* -- Only works for Safari , background blur. */
  background-filter: blur(20px);
}

.HeaderGroup {
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

.Header a {
  color: white;
  font-weight: 700;
}
.Header--item {
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;

  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Header--item:hover {
  color: black;
  background: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.Header button {
  padding: 0.8rem 2rem;
  font-size: 2rem;
  background: #56ccf2;
  border: none;
  font-weight: 700;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
  background: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

@media (max-width: 64rem) {
  .Header {
    padding: 1.5rem 0;
  }
  .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  }
  .Header a:nth-child(4) {
    display: none;
  }
}
